.App {
  text-align: center;
  display:flex;
  align-items:center;
  justify-content:center;
  margin-top: 3rem;
  flex-direction:column;
  
 
}
.header{
  text-align: center;
  display:flex;
  align-items:center;
  justify-content:center;
  color:white;
  font-family:Pangolin, Verdana, Geneva, Tahoma, sans-serif;
  
}


.FormStyl {
  border-radius: 10px;
  border-color:#7FDBFF;
  border: 2px solid #7FDBFF;
  background-color:  white;
  padding-bottom:1.5rem;
  padding-top: 1.5rem;
  font-family:Pangolin;
}
